@import url("/static/css/colours.css");
.bottom-navbar-container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

.bottom-navbar{
    width: 40%;
    background-color: var(--primary_colour);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.7;
}

.bottom-navbar-image {
    width: 50px;
    height: 50px;
    color: white;
    aspect-ratio: 1 / 1;
    stroke: white;
    fill: white;
    opacity: .7;
}

.bottom-navbar-image-selected {
    opacity: 1;
}

@media (max-width: 1200px) {
    /* make it responsive on smaller screens */
    .bottom-navbar {
        width: 60%;
    }

    .bottom-navbar-image{
        width: 33px;
        height: 33px;
    }
}
@media (max-width: 767px) {
    /* make it responsive on mobile */
    .bottom-navbar {
        width: 70%;
    }

    .bottom-navbar-image{
        width: 26px;
        height: 26px;
    }

}
