<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Navbar</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/forum-bottom-navbar.css' %}">
    </head>
    <body>
        {% block content %}
            <div class="bottom-navbar-container">
                <div class="bottom-navbar">
                    <a href="{% url 'forum_home' %}">
                        {% if active_page == 'home' %}
                            <img class="bottom-navbar-image bottom-navbar-image-selected" src="{% static 'img/home_selected.svg' %}" alt="home">
                        {% else %}
                            <img class="bottom-navbar-image" src="{% static 'img/home.svg' %}" alt="home">
                        {% endif %}
                    </a>
                    <a href="{% url 'user_profile' user_id=request.user.id %}">
                        {% if active_page == 'manage' %}
                            <img class="bottom-navbar-image bottom-navbar-image-selected" src="{% static 'img/archive_selected.svg' %}" alt="manage">
                        {% else %}
                            <img class="bottom-navbar-image" src="{% static 'img/archive.svg' %}" alt="manage">
                        {% endif %}
                    </a>
                    <a href="{% url 'create_post' %}">
                        {% if active_page == 'create_post' %}
                            <img class="bottom-navbar-image bottom-navbar-image-selected" src="{% static 'img/new_post_selected.svg' %}" alt="Create Post">
                        {% else %}
                            <img class="bottom-navbar-image" src="{% static 'img/new_post.svg' %}" alt="Create Post">
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endblock content %}
    </body>
</html>