<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Forum Home</title>

    {% include 'navbar.html' %}
    {% block css %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forum_home.css' %}">
    <script src="{% static 'js/forum_home.js' %}" defer></script>
</head>
<body>
    <main>
        <div id="posts">

        </div>
        <div id="posts" class="posts">
            {% for post in posts %}
                <div class="post">
                    <div class="post-top">
                        <h3><a href="{% url 'user_profile' post.user.id %}" class="user_profile_link">{{ post.user.email }}</a></h3>
                        <div class="like-count-container">
                            <div class="like-count" onclick="likePost({{ post.post_id }})">
                                <p id="like-count-{{ post.post_id }}" class="like-count-text">{{ post.likes }}</p>
                                <img class="like-count-image" src="{% static 'img/heart.svg' %}" alt="like_count" id="like-heart-{{ post.post_id }}">
                            </div>
                        </div>
                    </div>
                    <div class="post-image-container">
                        <img class="post-image" src="{{ post.image.url }}" alt="Post Image">
                    </div>
                    <div class="post-bottom">
                        <div class="post-bottom-content">
                            <div class="post-description">
                                <h3 class="post-description-text">{{ post.description }}</h3>
                            </div>
                            <div class="post-comments-button" onclick="toggleComments({{ post.post_id }})" id="post-comments-toggle">
                                <div>
                                    <p class="post-comments-toggle-text">
                                        Comments
                                    </p>
                                    <img src="{% static 'img/chevron-down.svg' %}" alt="comments down" class="post-comments-toggle-image" id="post-comments-toggle-image">
                                </div>
                            </div>
                            <div class="post-actions">
                                <button class="post-action-button" type="button" onclick="likePost({{ post.post_id }})">
                                    <img id="like-button-{{ post.post_id }}" alt="like-post" class="post-action-img" src="{% static 'img/like.svg' %}">
                                </button>
                                <form action="{% url 'report_post' post.post_id %}" method="post">
                                    {% csrf_token %}
                                    <button class="post-action-button" type="submit"><img alt="report-post" class="post-action-img" src="{% static 'img/flag.svg' %}"></button>
                                </form>
                                <button class="post-action-button" onclick="sharePost({{ post.post_id }})"><img alt="share-post" class="post-action-img" src="{% static 'img/share.svg' %}"></button>
                            </div>
                        </div>
                        <div class="post-comments">
                            <div id="comments-{{ post.post_id }}" class="comments-container" style="display: none;padding-top: 10px">
                                <form onsubmit="addComment(event, {{ post.post_id }})" id="Comment">
                                    {% csrf_token %}
                                    <label style="width: 85%">
                                        <input type="text" name="comment" placeholder="Add a comment..." required class="comment-input">
                                    </label>
                                    <button type="submit" class="comment-post">Post</button>
                                </form>
                                {% for comment in post.comments.all %}
                                    <div class="comment">
                                        <p><strong>{{ comment.user.email }}</strong>: {{ comment.text }}</p>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
    <script>
        const chevronUp = "{% static 'img/chevron-up.svg' %}";
        const chevronDown = "{% static 'img/chevron-down.svg' %}";
        const notLikedButton = "{% static 'img/like.svg' %}";
        const likedButton = "{% static 'img/liked.svg' %}";
        const nonActiveHeart = "{% static 'img/heart.svg' %}";
        const activeHeart = "{% static 'img/heart_active.svg' %}";
    </script>
    {% include 'forum/bottom_navbar.html' %}
</body>
</html>

