<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.email }}'s Profile</title>
    {% include 'navbar.html' %}
    {% block css %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <script src="{% static 'js/user_profile.js' %}" defer></script>
</head>

<body>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <main>
        <h1>{{ user.email }}'s Profile</h1>
        <div id="posts" class="posts">
            {% for post in posts %}
                <div class="post">
                    <div class="post-top">
                        <h3>{{ post.user.email }}</h3>
                        <div class="like-count-container">
                            <div class="like-count" onclick="likePost({{ post.post_id }})">
                                <p id="like-count-{{ post.post_id }}" class="like-count-text">{{ post.likes }}</p>
                                <img class="like-count-image" src="{% static 'img/heart.svg' %}" alt="like_count" id="like-heart-{{ post.post_id }}">
                            </div>
                        </div>
                    </div>
                    <div class="post-image-container">
                        <img class="post-image" src="{{ post.image.url }}" alt="Post Image">
                    </div>
                    <div class="post-bottom">
                        <div class="post-description">
                            <h3 class="post-description-text">{{ post.description }}</h3>
                        </div>
                        <div class="post-meta">
                            <p>Likes: {{ post.likes }}</p>
                            <p>Created on: {{ post.created_at|date:"F j, Y, g:i a" }}</p>
                        </div>
                        {% if post.user == logged_in_user %}
                        <div class="post-actions">
                            <a href="{% url 'edit_post' post.post_id %}" class="post-action-button">Edit</a>
                            <form action="{% url 'delete_post' post.post_id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="post-action-button">Delete</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
    <script>
        const notLikedButton = "{% static 'img/like.svg' %}";
        const likedButton = "{% static 'img/liked.svg' %}";
    </script>
    {% include 'forum/bottom_navbar.html' %}

</body>
</html>