<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register Form</title>

    {% include 'navbar.html' %}
    {% block css %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

<body>


    <main>
        <div class="tabs-wrapper">
            <div class="tabs">
                <!-- Radio button for login tab -->
                <input type="radio" id="login-tab-radio" class="tabs-radio" name="login-register" checked>
                <label for="login-tab-radio" class="tabs-radio-label">Login</label>

                <!-- Login tab content -->
                <div class="tabs-content">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="input" type="email" id="email" name="email" placeholder="Enter your email" required>
                            <label class="input-label" for="email">Email</label>
                        </div>

                        <div class="input-group">
                            <input class="input" type="password" id="password" name="password" placeholder="Enter your password" required>
                            <label class="input-label" for="password">Password</label>
                        </div>

                        <!-- FORGOT PASSWORD?? -->

                        <button type="submit" name="login">Login</button>
                    </form>
                </div>

                <!-- Radio button for register tab -->
                <input type="radio" id="register-tab-radio" class="tabs-radio" name="login-register">
                <label for="register-tab-radio" class="tabs-radio-label">Register</label>

                <!-- Register tab content -->
                <div class="tabs-content">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input class="input" type="text" id="first-name" name="first_name" placeholder="Enter your first name" required>
                            <label class="input-label" for="first-name">First Name</label>
                        </div>

                        <div class="input-group">
                            <input class="input" type="text" id="last-name" name="last_name" placeholder="Enter your last name" required>
                            <label class="input-label" for="last-name">Last Name</label>
                        </div>

                        <div class="input-group">
                            <input class="input" type="email" id="email" name="email" placeholder="Enter your email" required>
                            <label class="input-label" for="email">Email</label>
                        </div>

                        <div class="input-group">
                            <input class="input" type="password" id="password" name="password" placeholder="Enter your password" required>
                            <label class="input-label" for="password">Password</label>
                        </div>

                        <div class="input-group">
                            <input class="input" type="password" id="confirm-password" name="confirm_password" placeholder="Confirm your password" required>
                            <label class="input-label" for="confirm-password">Confirm Password</label>
                        </div>

                        <button type="submit" name="register">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>