<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>

    {% include 'navbar.html' %}
    {% block css %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/privacy.css' %}">
    <script src="{% static 'js/privacy.js' %}" defer></script>
</head>

<body>
    <main>
        <div id="privacy-wrapper">
            <!-- TOS -->
            <h1 id="privacy-title">Privacy Policy</h1>
            <p id="privacy-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacus nibh, gravida nec suscipit in, blandit eu ipsum. Suspendisse tempus porttitor sem sit amet molestie. Sed bibendum luctus feugiat. Nulla eleifend nibh ac laoreet porttitor. Curabitur eget ultricies odio. Donec ut tempus est. Suspendisse potenti. Aenean vehicula vel lorem non vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus a pharetra felis. Aliquam in dolor vitae lacus tristique pharetra nec et lectus.

Aliquam volutpat pretium risus quis interdum. Duis et commodo quam, posuere finibus augue. Suspendisse potenti. Quisque sed eros mi. Pellentesque aliquet mollis dui, dictum iaculis nulla lacinia eget. Sed finibus, nisl at pretium vulputate, dui arcu laoreet massa, ac venenatis turpis sapien eu tortor. Phasellus sollicitudin nec nisi non pellentesque. Cras eu maximus elit, nec condimentum odio. Suspendisse potenti. Integer feugiat ultricies dictum. Aliquam volutpat nisi id pulvinar aliquam. Aliquam erat volutpat. Aliquam ornare est nec sapien porttitor porta.

Donec nec vehicula ex, laoreet consectetur ligula. Quisque sit amet leo et justo tincidunt ornare. Donec ornare sed velit in vehicula. Etiam ac tellus nec diam maximus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas diam turpis, hendrerit in rhoncus eget, tristique a est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam lorem arcu, pulvinar nec justo viverra, mattis convallis ex.

Integer pretium turpis vel nulla varius semper. Fusce maximus laoreet lacus quis porttitor. Mauris eget mollis nisl. Integer quam neque, bibendum sit amet tempor vel, suscipit non diam. Nunc non nisl ullamcorper, consequat arcu vel, euismod ipsum. Phasellus viverra ullamcorper arcu, vel facilisis dui scelerisque at. Quisque at venenatis enim, nec vulputate sem. Praesent sit amet orci lacus. Suspendisse justo massa, malesuada eu velit vel, consequat vestibulum metus. Vestibulum vel lorem leo. Etiam id fringilla arcu. Aliquam magna metus, sollicitudin vitae ultrices quis, tristique a libero. Pellentesque lacus massa, malesuada quis feugiat eu, tempus et elit. Maecenas eget nisi turpis. Aliquam sodales elit et magna vestibulum iaculis.

Vivamus eu viverra sem. Suspendisse potenti. Aliquam vitae condimentum velit. Nunc at tellus eu lorem feugiat lacinia. Praesent condimentum orci enim, vel convallis mi elementum non. Nulla elementum fringilla ante, vel iaculis nulla luctus sit amet. Ut fringilla ultrices ex, quis convallis orci porta ac. In nisi arcu, accumsan cursus placerat et, bibendum bibendum lorem. Nullam pharetra interdum turpis, sit amet blandit quam aliquet eget. Integer orci metus, bibendum ac luctus ac, gravida in eros. Aliquam lacus libero, vestibulum a luctus nec, dictum vel lectus.
            </p>
        </div>
    </main>
</body>

</html>