<!-- templates/transport/transport.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden</title>
    {% include 'navbar.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/garden.css' %}">
    <script src="{% static 'js/garden.js' %}" defer></script>
</head>
<body>
    <main>
        <!-- Left section: Garden, Garden Stats -->
        <div id="left-section">
            <div id="garden-wrapper">
                <!-- Add garden elements using JS -->
            </div>
            <div id="garden-buttons-container">
                <div class="save-button-container">
                    <button id="save-garden-button">Save</button>
                    <span id="save-tooltip" class="tooltip"></span>
                </div>
                <div class="reset-button-container">
                    <button id="reset-garden-button">Reset</button>
                    <span id="reset-tooltip" class="tooltip"></span>
                </div>
            </div>
        </div>
        <!-- Right section: User Inventory -->
        <div id="right-section">
            <h3>Inventory</h3>
            <div id="inventory-container">
                <div id="inventory-wrapper"></div>
            </div>

            <h3>Garden Stats</h3>
            <div id="garden-stat-wrapper">
                <p class="garden-stat">Aesthetic Appeal: <span id="garden-stat-1">---</span></p>
                <p class="garden-stat">Habitat: <span id="garden-stat-2">---</span></p>
                <p class="garden-stat">Carbon Uptake: <span id="garden-stat-3">---</span></p>
                <p class="garden-stat">Waste Reduction: <span id="garden-stat-4">---</span></p>
                <p class="garden-stat">Health of Garden: <span id="garden-stat-5">---</span></p>
                <p class="garden-stat">Innovation: <span id="garden-stat-6">---</span></p>
            </div>
            <h3>Total Garden Score: <span id="garden-total-stat">---</span></h3>
        </div>
    </main>
</body>
</html>
