{% load static %}
{% for item in items %}
    <div class="inventory-slot" data-type="{{ item.item_type }}">
        <p class="item-name">{{ item.name }}</p>
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% else %}
            <p>{{ item.name }}</p>
        {% endif %}
        <p>x{{ item.quantity }} </p>
        

        <div id="item-buttons">
            <!-- Add a button to open lootboxes -->
            {% if item.item_type == "lootbox" %}
            <button class="lootbox-btn inventory-btn" data-item-id="{{ item.id }}" data-static-src="{{ item.lootbox_template.lootbox_image.url }}">Open lootbox</button>
    
            {% endif %}

            <!-- Add a button to use send users to garden -->
            <p>  </p>
            {% if item.item_type == "regular" %}
                <button class="item-btn inventory-btn" data-item-id="{{ item.id }}">Garden</button>
            {% endif %}

            <!-- If regular item quantity greater than 5 show merge button -->
            {% if item.item_type == "regular" and item.quantity >= 5 %}
                <button class="merge-btn merge-btn" data-item-id="{{ item.id }}">Merge</button>
            {% endif %}
        </div>
    </div>
{% empty %}
    <p>Your inventory is empty.</p>
{% endfor %}
