<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    
    {% include 'navbar.html' %}
    {% block css %}{% endblock %}
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
    <script src="{% static 'js/inventory.js' %}" defer></script>
</head>
<body>
    <main>
        <div id="inventory-header">
            <p>{{user.first_name}}'s Inventory</p>
        </div>
        <div id = "inventory-container">
            {% for item in items %}
                <div class="inventory-slot">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}">
                    {% else %}
                        <p>{{ item.name }}</p>
                    {% endif %}

                    <p>x{{ item.quantity }} </p>
                    <div class="button-container">
                    {% if item.item_type == "lootbox" %}
                        <div class="open-lootbox-btn" data-item-id="{{ item.id }}">Open lootbox</div>
                    {% endif %}
                    {% if item.item_type == "regular" %}
                        <div class="place-item-btn" data-item-id="{{ item.id }}">Place Item</div>
                    {% endif %}
                    </div>
                    
                </div>      
            {% endfor %}
        </div>
    </main>
</body>
</html>
