@import url("/static/css/colours.css");

/* --------------------------------------------------
    General Positioning
-------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--neutral-color);
    overflow: auto;
}

main {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/shop-stall.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    pointer-events: none; /* Allow clicks to pass through */
}

/* --------------------------------------------------
    Shop Items Grid
-------------------------------------------------- */
.shop-items-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 100px 20px 40px 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 800px;
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    row-gap: 20px;
}

.shop-item {
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.left-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-left: 5px;
}

.shop-item-img {
    width: 75px;
    height: auto;
}

.shop-item-cost-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-item-cost {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.shop-item-cost-container img {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

/* Initially hidden right content */
.right-content {
    flex: 0 0 0;
    opacity: 0;
    transform: translateX(20px);
    transition: flex 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
    padding: 10px;
    background-color: #fff;
}

/* Trigger expansion only when left-content is hovered */
.shop-item:has(.left-content:hover) {
    width: 300px;
    transform: scale(1.05);
    cursor: pointer;
    z-index: 5;
}

.shop-item:has(.left-content:hover) .right-content {
    flex: 1;
    opacity: 1;
    transform: translateX(0);
}

.shop-item-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.shop-item-desc {
    font-size: 1rem;
    color: #000;
    margin-bottom: 10px;
}

/* --------------------------------------------------
    Scroll Button
-------------------------------------------------- */
.scroll-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 120px;
    width: 60px;
    bottom: 50%;
    right: 10%;
    transform: translateY(50%);
    gap: 10px;
    background-color: #003b3c;
    border-radius: 10px;
}

.scroll-btn {
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    background-color: transparent;
}

.scroll-btn img {
    width: 50px;
    height: auto;
}
