<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    {% include 'navbar.html' %}
    {% block css %}{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}" defer></script>
</head>
<body>
    <main>
        <!-- <img src="{% static 'img/dashboard-banner.jpg' %}" alt="Dashboard Banner" id="dashboard-banner"> -->
        <!--
        Image reference (IEEE):
        Univeristy of Exeter, "Why I chose to study MA Theatre Practice at the University of Exeter" Univeristy of Exeter, Apr. 30, 2019. https://sites.exeter.ac.uk/students/2019/04/30/why-i-chose-to-study-ma-theatre-practice-at-the-university-of-exeter/ [Accessed: 13-02-2025]
        -->
        <section class="dashboard-top">
            <!-- Leaderboard -->
            <div class="leaderboard">
                <h3>Leaderboard</h3>
                <ol id="leaderboard-list">
                    <li class="leaderboard-item" id="leaderboard-item-1">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-2">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-3">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-4">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-5">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-6">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-7">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-8">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-9">---</li>
                    <li class="leaderboard-item" id="leaderboard-item-10">---</li>
                </ol>
            </div>

            <!-- Garden -->
            <div id="garden">
                <div id="garden-wrapper">
                    
                </div>
            </div>
        </section>

        <section class="game-dashboard">
            <div class="game-card-wrapper">
                <a href="{% url 'qrscanner' %}" class="game-card" id="game-card-1">
                    <h2>QR Scanner</h2>
                    <img src="{% static 'img/qr-logo.png' %}" alt="QR Scanner">
                </a>

                <a href="{% url 'bingame' %}" class="game-card" id="game-card-2">
                    <h2>Bin Game</h2>
                    <img src="{% static 'img/BinGame_icon.png' %}" alt="Bin game">
                </a>
                <a href="{% url 'transport' %}" class="game-card" id="game-card-3"> <!-- Transport game -->
                    <h2>Transport</h2>
                    <img src="{% static 'img/transport-game-icon.png' %}" alt="Transport">
                </a>

                <div class="game-card" id="game-card-4">
                    <h2>Game 4</h2>
                    <img src="{% static 'img/blank-card.png' %}" alt="Game 4">
                </div>
                <!-- Add more game cards here -->
            </div>
        </section>
    </main>
</body>
</html>