<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/navbar.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/execo-logo.png' %}" />
</head>
<body>
    <header id="navbar" class="navbar">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        
        <!-- Left side: Logo + Title -->
        <div class="d-flex align-items-center" id="logo-title">
            <img class="navbar-logo" src="{% static 'img/execo-logo.png' %}" alt="exEco Logo" />
            <h1 class="navbar-title">exEco</h1>
        </div>
        
        <!-- Right side: Only show if user is authenticated -->
        {% if user.is_authenticated %}
        <div class="d-flex align-items-center">

            <div id="points-wrapper">
                <!-- QR Scanner -->
                <div class="icon-wrapper me-3">
                    <img class="icon-img" src="{% static 'img/qrscanner-point.png' %}" alt="QR Scanner" />
                    <span class="points-text ms-1">{{ user.userpoints.qrscanner_points }}</span>
                </div>

                <!-- Bingame -->
                <div class="icon-wrapper me-3">
                    <img class="icon-img" src="{% static 'img/bingame-point.png' %}" alt="Bingame" />
                    <span class="points-text ms-1">{{ user.userpoints.bingame_points }}</span>
                </div>

                <!-- Transport Points -->
                <div class="icon-wrapper me-3 d-flex align-items-center">
                    <img class="icon-img" src="{% static 'img/transport-point.png' %}" alt="Transport Points" />
                    <span class="points-text ms-1">{{ user.userpoints.transport_points }}</span>
                </div>
            </div>

            <!-- Coins -->
            <div class="icon-wrapper me-3 d-flex align-items-center">
                <img class="icon-img" src="{% static 'img/coin.png' %}" alt="Coins" />
                <span class="points-text ms-1">{{ user.usercoins.coins }}</span>
            </div>

            <!-- User Name -->
            <span class="user-name-text me-2">
                {{ user.first_name }} {{ user.last_name }}
            </span>

            <!-- Profile Picture / Dropdown -->
            <div class="dropdown">
            {% if user.profile_picture %}
                <img
                src="{{ user.profile_picture.url }}"
                alt="Profile Picture"
                class="user-profile-picture dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                />
            {% else %}
                <div
                class="user-profile-circle dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >
                {{ user.initials }}
                </div>
            {% endif %}
            
            <!-- Dropdown Menu -->
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="{% url 'garden' %}">Garden</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'inventory' %}">Inventory</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'shop' %}">Shop</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'challenges' %}">Challenges</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_staff %}
                <li>
                    <a class="dropdown-item" href="{% url 'gamekeeper' %}">Gamekeepers</a>
                </li>
                {% endif %}
                <hr>
                <li id="logout">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            </div>
        </div>
        {% endif %}
    </div>
    </header>

    <!-- Main page content goes here -->
    {% block content %}
    {% endblock content %}
</body>
</html>